<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>You Have Been Added to {{ builder.name }} Trade List</title>
  </head>
  <body>
    <p>Hi there,</p>
    <p>
      We're excited to invite you to Builder Eye, a platform designed to streamline communication, manage tasks, and collaborate effortlessly with builders.
    </p>

    <h2 style="font-size: 24px">You've been added by {{ builder.user.first_name }} using Builder Eye and can now:</h2>
    <ul>
      <li>
        Receive and track work orders.
      </li>
      <li>
        View project schedules and assigned tasks.
      </li>
      <li>
       Share progress updates and upload photos
      </li>
      <li>
        Communicate in real-time with the builder team
      </li>
    </ul>

    <p style="font-size: 16px; margin-top: 20px;">
      Join now:
      <a href="{{ reset_url }}" style="color: #007BFF; text-decoration: none;">
        Builder Eye Reset Url
      </a>
    </p>

    <p>
     Getting started is easy. Simply follow the link above to activate your account and begin managing your assigned projects.
    </p>

    <p>
      If you need help at any point, feel free to reach out.
    </p>

    <p>
      Looking forward to having you onboard!
    </p>

    <p>
      Best regards,<br />
      The Builder Eye Team
    </p>
  </body>
</html>
