<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>You Have Been Added to {{ builder.name }} Trade List</title>
  </head>
  <body>
    <p>Hi {{ trade.user.first_name }},</p>
    <p>
      Good news! {{ builder.user.first_name }} has added you as a trusted trade partner on <strong>Builder Eye</strong>.
    </p>

    <h2 style="font-size: 24px">You can now:</h2>
    <ul>
      <li>
        View tasks and deficiencies assigned by {{ builder.user.first_name }}.
      </li>
      <li>
        Upload updates, images, and completion notes.
      </li>
      <li>
       Track your progress across multiple projects
      </li>
    </ul>

    <p style="font-size: 16px; margin-top: 20px;">
      Log In here:
      <a href="{{ signin_url }}" style="color: #007BFF; text-decoration: none;">
        Builder Eye Login
      </a>
    </p>

    <p>
     If you're new to Builder Eye and haven't signed up yet, you can register using the invitation link we previously sent. Can't find it? Let us know—we're happy to help.
    </p>
    <p>
      If you have any questions or require assistance, feel free to reach out to our support team at <a href="mailto:info@thebuildereye.com">info@thebuildereye.com</a>.
    </p>

    <p>
      Warm Regards,<br />
      The Builder Eye Team
    </p>
  </body>
</html>
